@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');


body {
	
	background: rgb(83, 81, 81);
	/* margin: 1em; */
	color:whitesmoke;
	font-family: 'Overpass', sans-serif;
}

h2 {
	font-weight: Bold 700;
	font-size: 25px;
	margin: 2px;
}


div {
	padding: 1em;
}

.panelDiv {
	/* border-top: 1px solid whitesmoke; */
	text-align: center;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}


ol li::marker {
	content: "▼";
  }
  
a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	color: whitesmoke;
	background: #333;
	outline: none;
	margin: 2px;
	font-size: 18px;
	padding: 0.4em;
	border: none;
	border-radius: 2px;
}

button {
	color: whitesmoke;
	background: #333;
	outline: none;
	margin: 2px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;
	padding: 5px;
	border: none;
	border-radius: 2px;
}

.selectedButton {
	background-color: rgb(238, 137, 5);
}

input {
	width: 150px;
}

input:disabled {
	color: #ccc;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

main {

	margin: 0px;
	align-items: center;
	color: whitesmoke;
	/* background: rgb(83, 81, 81); */
}

span {
/* padding: 1em; */
font-size: 16px;
}

.xAxis path,
.xAxis line {
  stroke: teal;
  shape-rendering: crispEdges;
}

.xAxis text {
  font-weight: bold;
  font-size: 14px;
  fill: teal;
  
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px Overpass;
  
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.test {
	content: "▼";
  }

.no-arrow { 
	/* padding-left: 1.0rem;  */
	font-size: 16px;
}

ul.ulArrows {
	list-style-type: none;
}

ul.variableVal {
	font-size: 16px;
	list-style-type: none;
}

#variableName {
	font-size: 16px;
	list-style-type: none;
}
.arrow {
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	transition: transform 200ms;
	text-align: center;
}

.arrowDown { 
	transform: rotate(90deg); 
}

#valuesList {
	font-size: 16px;
}



.oldAndNewVals {
	font-size: 16px;
}

.oldValue{
	text-decoration: line-through;
	color:rgb(238, 137, 5);
	font-size: 16px;
}
.diffComponentName{
	color:white;
	font-weight: bold;
	font-size: 16px;


}
.deletedComponent{
	text-decoration: line-through;
	color:red;
	font-size: 16px;
}

.search-button {
	color: rgb(162, 159, 159);
	background: transparent;
	border: none;
	outline: none;
	margin-right: -25px;
}
form.form button:hover {
  background: rgb(238, 137, 5);

}

  
   .content {
	padding: 2px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	/* transition: max-height 0.2s ease-out; */
  } 

  
