@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');


body {
	
	background: rgb(83, 81, 81);
	/* margin: 1em; */
	padding: 1em;
	color:whitesmoke;
	font-family: 'Overpass', sans-serif;
	
}

h2 {

	font-weight: Bold 700;
	font-size: 25px;
	margin: 2px;;
}


div {
	padding: 1em;
}

.panelDiv {
	/* border-top: 1px solid whitesmoke; */
	text-align: center;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}


ol li::marker {
	content: "▼";
  }
  
a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	color: whitesmoke;
	background: #333;
	outline: none;
	margin: 2px;
	font-size: 18px;
	padding: 0.4em;
	border: none;
	border-radius: 2px;
}

button {
	color: whitesmoke;
	background: #333;
	outline: none;
	margin: 2px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;
	padding: 5px;
	border: none;
	border-radius: 2px;
	
}

input:disabled {
	color: #ccc;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

main {

	margin: 0px;
	align-items: center;
	color: whitesmoke;
	background: rgb(83, 81, 81);
}

span {
/* padding: 1em; */
font-size: 16px;
}

.xAxis path,
.xAxis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.xAxis text {
  font-weight: bold;
  font-size: 14px;
  fill: teal;
  
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px Overpass;
  
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#slicerImg{
width: 30px;
height: 30px;
}

.test {
	content: "▼";
  }

.no-arrow { 
	/* padding-left: 1.0rem;  */
	font-size: 16px;
}

ul.ulArrows {
	list-style-type: none;
}

ul.variableVal {
	font-size: 16px;
	list-style-type: none;
}

#variableName {
	font-size: 16px;
	list-style-type: none;
}
.arrow {
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	transition: transform 200ms;
	text-align: center;
	
}

.arrowDown { 
	transform: rotate(90deg); 
}

#valuesList {
	font-size: 16px;
}

#mainContainer {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 50px 50px auto;
	width: 100vw;
  	height: 100vh;
}

#snapshots {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	border: 1px solid whitesmoke;
	/* align-items: center; */
}

#banner {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	border-collapse: collapse;
	border: 1px solid whitesmoke;
}


#title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	border: 1px solid whitesmoke;
	
}


#buttons {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	border: 1px solid whitesmoke;
	padding: 1em;

}

.oldAndNewVals {
	font-size: 16px;
}
#presentation {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	border: 1px solid whitesmoke;
}

.oldValue{
	text-decoration: line-through;
	color:rgb(238, 137, 5);
	font-size: 16px;
}
.diffComponentName{
	color:white;
	font-weight: bold;
	font-size: 16px;


}
.deletedComponent{
	text-decoration: line-through;
	color:red;
	font-size: 16px;
}

.search-button {
	color: rgb(162, 159, 159);
	background: transparent;
	border: none;
	outline: none;
	margin-right: -25px;
}
form.form button:hover {
  background: rgb(238, 137, 5);

}
/* 
.right-align {
	text-align: right;
} */

/* .collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  } */
  
  /* .active, .collapsible:hover {
	background-color: #555;
  } */
  
  /* .collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  } */
  
  /* .active:after {
	content: "\2212";
  } */
  
   .content {
	padding: 2px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	/* transition: max-height 0.2s ease-out; */
  } 

  